{% extends 'base.html' %} {% block body %}

{% load static %}
{% load ratings %}

  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

  <div class="col-4">
    <p><a href="{% url 'market_list' %}" class="btn btn-info btn-sm">
      Voltar
    </a></p>
  </div>

  <div class="row">
    <h1 class="product-title">Mercado</h1>
  </div>
  <div class="row background-product">
    <div class="col-6 align-center">
        <img class="img-product" src="{{object.photo}}">
    </div>
    <div class="col-6">
      <div class="row">
        <div class="details-product">
          <h1 class="details-title">Detalhes</h1>
          <h3>Nome: {{object.name}}</h3>
          {% ratings object %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}