{% extends 'base.html' %} {% block body %}
{% if alert %}
<div class="alert alert-success" style="margin: 0 auto;">
  <strong>{{ alert }}</strong>
</div>
{% endif %}
<div class="row">
  <h1 class="product-title">{{method}} Produto</h1>
</div>
<form method="POST" role="form" novalidate>
  {% csrf_token %}
  <br style="clear:both">

  <div class="form-group">
    <small class="text-danger">
      {{ form.name.errors.as_text }}
    </small>
    {{ form.name }}
  </div>
  <div class="form-group">
    <small class="text-danger">
      {{ form.brand.errors.as_text}}
    </small>
    {{ form.brand }}
  </div>
  <div class="form-group">
    <small class="text-danger">
      {{ form.description.errors.as_text}}
    </small>
    {{ form.description}}
  </div>
  <div class="form-group">
    <small class="text-danger">
      {{ form.category.errors.as_text}}
    </small>
    {{ form.category}}
  </div>
  <div class="form-group">
    <small class="text-danger">
      {{ form.commerce.errors.as_text}}
    </small>
    {{ form.commerce }}
  </div>
  <div class="form-group">
    <small class="text-danger">
      {{ form.price.errors.as_text}}
    </small>
    {{ form.price}}
  </div>
  <div class="form-group">
    <small class="text-danger">
      {{ form.photo.errors.as_text}}
    </small>
    {{ form.photo }}
  </div>
  <div class="align-button">
    <button type="submit" id="submit" name="submit" class="btn button-color">Enviar Mensagem</button>
  </div>
</form>
{% endblock %}
