{% extends 'base.html' %} {% block body %}
{% if alert %}
<div class="alert alert-success" style="margin: 0 auto;">
  <strong>{{ alert }}</strong>
</div>
{% endif %}
<div class="row">
  <h1 class="product-title">{{method}} Produto</h1>
</div>
<form method="POST" role="form" novalidate>
  {% csrf_token %}
  <br style="clear:both">
  {% if form_product%}
  <div class="form-group">
    Nome:
    <small class="text-danger">
      {{ form_product.name.errors.as_text }}
    </small>
    {{ form_product.name }}
  </div>
  <div class="form-group">
    Marca:
    <small class="text-danger">
      {{ form_product.brand.errors.as_text}}
    </small>
    {{ form_product.brand }}
  </div>
  <div class="form-group">
    Decrição:
    <small class="text-danger">
      {{ form_product.description.errors.as_text}}
    </small>
    {{ form_product.description}}
  </div>
  <div class="form-group">
    Categoria:
    <small class="text-danger">
      {{ form_product.category.errors.as_text}}
    </small>
    {{ form_product.category}}
  </div>
  <div class="form-group">
    Url da foto:
    <small class="text-danger">
      {{ form_product.photo.errors.as_text}}
    </small>
    {{ form_product.photo }}
  </div>
  {% endif %}
  {% if form_historic %}
  <div class="form-group">
    Mercado:
    <small class="text-danger">
      {{ form_historic.cod_commerce.errors.as_text}}
    </small>
    {{ form_historic.cod_commerce }}
  </div>
  <div class="form-group">
    Preço:
    <small class="text-danger">
      {{ form_historic.price.errors.as_text}}
    </small>
    {{ form_historic.price}}
  </div>
  {% endif %}
  <div class="align-center">
    <button type="submit" id="submit" name="submit" class="btn button-color">Enviar Mensagem</button>
  </div>
  {{ form_product.historic.errors.as_text}}

</form>
{% endblock %}
