{% extends 'base.html' %} {% block body %}

<div class="row">
  <h1 class="product-title">Lista de compras de {{ shopping_list.user.name }} </h1>
</div>

<div class="row" style="display: flex; justify-content: flex-end;">
  <div class="form-inline" style="margin-left:auto; margin-right:150;">
    {% if product_list %}
      <div><big><b>Preço total R$: {{ total_price }} </b></big></div>
    {% endif %}
  </div>
</div>

<div class="row justify-content row-margin">
  {% if product_list %}
    {% for product in product_list %}
      <customdiv class="card card-customization" style="width: 16rem;">
        <div class="row">
          <a class="card-img-top" href="{% url 'viewProduct' product.id %}">
          <img class="card-img-top" src="{{product.photo}}" alt="Card image cap">
          </a>
        </div>
        <div class="row">
          <div class="col-8">
            <h6 class="card-title">{{ product.name }}</h6>
          </div>
          <div class="col-4">
            <a class="" href="{% url 'remove_product_list' product.id %}">
              <img class="card-icon-top" src="/static/remove.png"/>
            </a>
          </div>
        </div>
        <div class="card-body card-body-background">
          <p class="card-text">R${{ product.historic.last.price }}</p>
        </div>
      </customdiv>
    {% endfor %}
  {% else %}
      <div><big><b>Lista vazia.</b></big></div>
  {% endif %}
</div>

{% endblock %}
