.card {
  margin: 20px auto;
  margin-top: 30px;
  border: 1px solid #F3FFBD;
}

.row-margin {
  margin-left: 90px;
  margin-right: 90px;
}

.card-body-background {
  background: #F3FFBD;
}

.card-img-top {
    width: 80% !important;
    margin: 0 auto;
}

/* Name and Category */
.card-title {
    align-self: center;
    margin-top: 20px;
    color: black;
    font-size: 20px;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Play', sans-serif;
}

/* Price */
.card-text {
  margin-bottom: 0px;
  font-size: 30px;
  color: #A30F36;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Play', sans-serif; */
  font-family: 'Merienda', cursive;
}

.card-body {
  padding-bottom: 0;
  padding-top: 10px;
}

/* Description */
.text-muted {
  font-size: 13px;
  padding: 0px;
  font-family: 'Play', sans-serif;
  font-family: 'El Messiri', sans-serif;
  font-family: 'Merienda', cursive;

}

.product-title {
  color: #247BA0;
  font-family: 'Federant', cursive;
  /* margin-left: 60px; */
  margin: 0 auto;
}

.col-line {
  /* justify-content: center; */
  /* border-right: 1px solid #B2DBBF; */
}

.form-group {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.align-button {
  text-align: center;
}

.button-color {
  background: #247BA0;
  color: white;
  border: none;
}

.button-color:hover {
  background: #1B5C77;
  color: white;
  border: none;
}

.button-color:active {
  background: #4F8980;
  color: white;
  border: none;
}

a {
  color: transparent;
  text-decoration: none;
}

a:link {
  color: transparent;
  border-width: 0px;
}

a:visited {
  color: transparent;
  border-width: 0px;
}

a:hover {
  color: transparent;
  border-width: 0px;
}

a.card:hover {
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.12);
}
